body{margin-left:10px;
margin-top:0px;}

div.text{
	background-color:white;
	border-top: 1px solid transparent;
	border-bottom:1px solid black;
	text-align:center;
	margin-bottom:0;
	height:60px;
}

div.inputtext{
	background-color:white;
	display:flex;
	width:100%;
	margin-top:0;
	text-align:top;
	margin-bottom:0;
}

h2{
	font-family: 'Roboto Mono', monospace;
	font-style:normal;
	font-weight:400;
	font-size:18px;
	line-height:18px;
}

#inputone{
	width:50%;
}
#inputtwo{
	width:50%;
}
input{
border:0;
border-bottom: 1px solid #1976D2;
width:90%;
height:30px;
padding-top:5px;
font-family: 'Roboto Mono', monospace;
	font-style:normal;
	font-weight:400;
	font-size: 18px;
 background: transparent;
	color: #BBDEFB;
}


button{
border-radius:70%;
border:1px solid red;
background:black;
color:white;
border: 0;
font-size:18px;
display:inline;
}

button:hover {
background-color: white
color:black;}

button:active {
  background-color: white;
  color:black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#canvass{
	left:0;
	top:0;
	position:absolute;
	z-index:-10;
	display:flex;
	margin-top: 120px;
}

}
.day { background:#d3dcf2;}
.sunset { background:#e07510;}
.night {background:#030c2b;}