body{margin-left:10px;
margin-top:0px;}

div.text{
	background-color:white;
	border-top: 1px solid transparent;
	border-bottom:1px solid black;
	text-align:center;
	margin-bottom:0;
		height:60px;
}

h2{
	font-family: 'Roboto Mono', monospace;
	font-style:normal;
	font-weight:400;
	font-size:18px;
	line-height:18px;
}

p{
	font-family: 'Roboto Mono', monospace;
	font-style:normal;
	font-weight:400;
	font-size:18px;
	line-height:120%;
}
.intro{
	text-align:center;
	padding-left:500px;
	padding-right:500px;
	padding-top:200px;
}

button{
border-radius:70%;
border:1px solid red;
background:black;
color:white;
border: 0;
font-size:18px;
display:inline;
}

button:hover {
background-color: white
color:black;}

button:active {
  background-color: white;
  color:black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}