.body{
   color:black;
   margin:100px;
   font-size:50px;
font-family: 'Gothic A1', sans-serif;
}

.ul{
	list-style: none;
}

#navbar{
	display:inline-block;
	width:30%;
	height:50px;
	border:solid red 1px;
}

.h1{
	font-family:'Gothic A1', sans-serif;
	font-size:50px;
}